In [1]:
import numpy as np
import pandas as pd

In [2]:
country = ('India','Pakistan','USA','Srilanka','Australia')

In [3]:
countries = pd.Series(country)
countries

0        India
1     Pakistan
2          USA
3     Srilanka
4    Australia
dtype: object

In [4]:
runs = [13,24,56,78,100]
runs_ser = pd.Series(runs)
runs_ser

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [5]:
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

In [14]:
a = pd.Series(marks,index=subjects,name='jinit\'s marks')

In [8]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100,
    'computer':80
}

marks = pd.Series(marks)

In [9]:
marks

maths        67
english      57
science      89
hindi       100
computer     80
dtype: int64

In [10]:
marks['gujarati'] = 59

In [11]:
marks

maths        67
english      57
science      89
hindi       100
computer     80
gujarati     59
dtype: int64

In [12]:
marks.size

6

In [13]:
marks.name

In [15]:
a

maths       67
english     57
science     89
hindi      100
Name: jinit's marks, dtype: int64

In [16]:
a.name

"jinit's marks"

In [17]:
a.dtype

dtype('int64')

In [18]:
a.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [19]:
countries.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
type(a)

pandas.core.series.Series

In [20]:
subs = pd.read_csv('subs.csv')

In [21]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [23]:
type(subs)

pandas.core.frame.DataFrame

In [24]:
subs = subs.squeeze()

In [25]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [26]:
type(subs)

pandas.core.series.Series

In [27]:
movies = pd.read_csv('bollywood.csv',index_col='movie')

In [29]:
movies = movies.squeeze()

In [30]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Pushpa:2                                      Allu Arjun
Housefull -5                                Akshay Kumar
Raid 2                                        Ajay Devgn
Name: lead, Length: 1503, dtype: object

In [31]:
movies.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [33]:
movies.tail(15)

movie
Yeh Dil                         Tusshar Kapoor
Xcuse Me                         Sharman Joshi
Raaz (2002 film)                    Dino Morea
Zameen (2003 film)                  Ajay Devgn
Waisa Bhi Hota Hai Part II        Arshad Warsi
Devdas (2002 Hindi film)        Shah Rukh Khan
Kaante                        Amitabh Bachchan
Hum Tumhare Hain Sanam          Shah Rukh Khan
Aankhen (2002 film)           Amitabh Bachchan
Saathiya (film)                   Vivek Oberoi
Company (film)                      Ajay Devgn
Awara Paagal Deewana              Akshay Kumar
Pushpa:2                            Allu Arjun
Housefull -5                      Akshay Kumar
Raid 2                              Ajay Devgn
Name: lead, dtype: object

In [63]:
movies.sample(5)

movie
Black (2005 film)                 Amitabh Bachchan
Fitoor                           Aditya Roy Kapoor
Life Mein Kabhie Kabhiee          Aftab Shivdasani
Umrao Jaan (2006 film)      Aishwarya Rai Bachchan
Johnny Gaddaar                          Dharmendra
Name: lead, dtype: object

In [64]:
movies.value_counts()

lead
Akshay Kumar        49
Amitabh Bachchan    45
Ajay Devgn          39
Salman Khan         31
Sanjay Dutt         26
                    ..
Mann Bagga           1
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Allu Arjun           1
Name: count, Length: 567, dtype: int64

In [65]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Pushpa:2                                      Allu Arjun
Housefull -5                                Akshay Kumar
Raid 2                                        Ajay Devgn
Name: lead, Length: 1503, dtype: object

In [67]:
movies.sort_values(ascending=False)

movie
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Dunno Y... Na Jaane Kyon             Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Dil Toh Deewana Hai                  Zeenat Aman
Strings of Passion                   Zeenat Aman
                                        ...
PK (film)                             Aamir Khan
Raat Gayi Baat Gayi?                Aamir Bashir
Lipstick Under My Burkha            Aahana Kumra
Roar: Tigers of the Sundarbans      Aadil Chahal
Qaidi Band                            Aadar Jain
Name: lead, Length: 1503, dtype: object

In [68]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1503, dtype: object

In [69]:
movies.sort_index(ascending=False)

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1503, dtype: object

In [70]:
movies.count()

1503

In [71]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [72]:
max(subs)

396

In [73]:
min(subs)

33

In [74]:
sum(subs)

49510